:root {
  --root-font-size: 16px;

  --global-layout-size: 80rem; /* 1280px */
  --global-layout-gutter: 2rem;

  --global-color-orange-400: hsl(28, 67%, 44%);
  --global-color-green-150: hsl(88, 38%, 15%);
  --global-color-green-300: hsl(74, 32%, 32%);
  --global-color-green-400: hsl(74, 32%, 40%);

  --global-color-neutral-30: hsl(222, 10%, 3%);
  --global-color-neutral-100: hsl(222, 10%, 10%);
  --global-color-neutral-500: hsl(222, 10%, 50%);
  --global-color-neutral-900: hsl(222, 10%, 94%);
  --global-color-neutral-1000: hsl(0, 0%, 100%);

  --global-animation-fade-up: fade-up 0.5s ease-in-out;
  --global-animation-fade-down: fade-down 0.5s ease-in-out;
  --global-animation-expand: expand 0.5s ease-in-out;

  color-scheme: light dark;

  @media (prefers-color-scheme: dark) {
    --global-text-color: var(--global-color-neutral-1000);
    --global-text-color-hover: var(--global-color-green-300);
    --global-outline-color-hover: var(--global-color-neutral-1000);
    --global-background-color: var(--global-color-neutral-30);
    --global-bullet-color: var(--global-color-green-400);
  }

  @media (prefers-color-scheme: light) {
    --global-text-color: var(--global-color-neutral-30);
    --global-text-color-hover: var(--global-color-green-400);
    --global-outline-color-hover: var(--global-color-neutral-30);
    --global-background-color: var(--global-color-neutral-1000);
    --global-bullet-color: var(--global-color-green-150);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
}

html {
  background: var(--global-background-color);
  scroll-behavior: smooth;
  min-height: 100svh; /* svh is more reliable than vh on mobile */
  font-size: var(--root-font-size);
  color: var(--global-text-color);
  transition:
    color 0.5s,
    background-color 0.5s;
}

body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Nunito',
    sans-serif;
  font-size: var(--root-font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  /* You can break up padding/margin shorthand */
  padding-inline: 0; /* This is the same as padding-left and padding-right */
  padding-block: 4rem; /* This is the same as padding-top and padding-bottom */
  /* Shorthands will usually be more concise, also note how this "cascades" (overwrites) the previous properties */
  padding: 0;
  width: 100%;
}

main {
  margin: 0 auto;
  padding: var(--global-layout-gutter);
  padding-top: calc(var(--global-layout-gutter) * 3);
  max-width: var(--global-layout-size);
}

video {
  border-radius: 12px;
  width: 100%;
  height: auto;
  max-width: 580px;
}

img {
  border-radius: 12px;
  width: 100%;
  height: auto;
  max-width: 580px;
}

hr {
  margin-block: 1.5rem;
  animation: var(--global-animation-expand);
}

a {
  margin-inline: 2px;
  border-radius: 4px;
  padding: 0.3rem;
  color: var(--global-text-color);
  transition: 0.4s ease-out;

  &:hover {
    border-radius: 4px;
    color: var(--global-color-neutral-1000);
    background-color: var(--global-text-color-hover);
  }
}

a.hidden {
  display: flex;
  color: transparent;

  &:hover {
    background-color: transparent;
  }
}

p {
  font-weight: 400;
  font-size: 1rem;
  color: var(--global-text-color);
  animation: var(--global-animation-expand);
}

strong {
  font-weight: 650;
  padding-inline: 0.25rem;
}

br {
  margin-bottom: 0.5rem;
}

h1 {
  margin-bottom: var(--global-layout-gutter);
  font-weight: 700;
  font-size: 2.8rem;
  color: var(--global-text-color);
  animation: var(--global-animation-fade-up);
}

h2 {
  margin-bottom: var(--global-layout-gutter) calc(var(--global-layout-gutter) / 8);
  font-weight: 600;
  font-size: 2rem;
  color: var(--global-text-color);
  animation: var(--global-animation-fade-up);
}

h3 {
  margin-bottom: var(--global-layout-gutter) calc(var(--global-layout-gutter) / 8);
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--global-text-color);
  animation: var(--global-animation-fade-up);
}

ul.colored-bullets {
  list-style: none;
  z-index: 0;
  padding: 0;
}

ul.colored-bullets li {
  padding-left: 1.5em;
  margin-bottom: 0.5em;
  position: relative;
  z-index: 0;
}

ul.colored-bullets li:before {
  content: '•';
  position: absolute;
  left: 0;
  font-size: 1.2em;
  color: var(--global-bullet-color);
}

.centered {
  display: flex;
  justify-self: center;
}

.left-aligned {
  display: flex;
  justify-self: left;
}

.organization-example {
  /* Some people prefer to organize css properties alphabetically */
  /* I prefer to organize them by box model and category */
  /* This is a personal preference and varies project to project */

  /*** BOX CONTENT WHERE RELEVANT ***/
  content: '';

  /*** PLACEMENT OF BOX RELATIVE TO OTHER BOXES ***/
  position: relative;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /*** HOW BOX SHOULD BEHAVE ***/
  display: block;
  overflow: hidden;

  /*** BOX MODEL FROM OUTSIDE IN https://www.simplilearn.com/ice9/free_resources_article_thumb/CSS-Box-Model.png ***/
  margin: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  /*** TYPOGRAPHY ***/
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;

  /*** COLORS/APPEARANCE ***/
  color: inherit;
  background-color: transparent;
  opacity: 1;
  transition: none;
  translate: none; /* transforms/translations/scales do not affect other elements or dom flow */

  /*** INTERACTION ***/
  cursor: auto;
  user-select: auto;
  pointer-events: auto;
  touch-action: auto;
}
