@import 'base.css';

#app {
  font-weight: normal;
  margin: 0 auto;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  animation: var(--global-animation-fade-up);
}

.left-wrapper {
  display: flex;
  justify-content: left;
  width: 100%;
  animation: var(--global-animation-fade-up);
}

.right-wrapper {
  display: flex;
  justify-content: right;
  width: 100%;
  animation: var(--global-animation-fade-up);
}

.top-wrapper {
  display: flex;
  justify-content: top;
  width: 100%;
  animation: var(--global-animation-fade-up);
}

.bottom-wrapper {
  display: flex;
  justify-content: bottom;
  width: 100%;
  animation: var(--global-animation-fade-up);
}
