.portfolio h1 {
  padding-top: 1rem;
  padding-inline: 2rem;
  padding-bottom: 0.5rem;
  text-align: left;
}

.portfolio h2 {
  padding-top: 1rem;
  padding-inline: 2rem;
  padding-bottom: 0.5rem;
  text-align: left;
}

.portfolio h3 {
  padding-top: 1rem;
  padding-inline: 2rem;
  padding-bottom: 0.5rem;
  text-align: left;
}

.portfolio h4 {
  padding-top: 1rem;
  padding-inline: 2rem;
  padding-bottom: 0.5rem;
  text-align: left;
}

.portfolio p {
  padding-top: 1rem;
  padding-inline: 2rem;
  padding-bottom: 0.5rem;
  text-align: left;
}

.flex-grid {
  flex-wrap: wrap;
  flex-direction: row-reverse;
  display: flex;
  align-items: flex-start;
  margin-block: 1rem;
}

.vertical {
  width: auto;
  height: auto;
}

.portfolio-hr {
  align-self: center;
  width: 80%;
}

.video {
  margin-bottom: 2rem;
}
